// app global css in SCSS form
@font-face {
  font-family: avenir;
  src: url(./fonts/Avenir-Roman.woff);
}

// declare a class which applies it
.my-font {
  font-family: 'avenir';
}
.my-fondo {
  background: #fafbfc;
}
.filtros {
  padding: 3px 7px;
  background: #ECF6FF;
  color: #65778D;
  border: solid 1px #ECF6FF;
  margin: 5px;
  border-radius: 8px;
  font-size: 13px;
}
